$background-primary: #FFFFFF !default;
$sp-panel-box-shadow: 0 4px 8px 0 rgba(23, 40, 52, 0.08) !default;
$border-primary: #8790A1 !default;
$border-secondary: #B3B7BC !default;
$border-tertiary: #DADDE2 !default;
$text-primary: #1D2223 !default;
$color-sp-separator: #EAEAEA !default;
$link-hover-color : #354ECA !default;
$link-color : #3C59E7 !default;
$sp-space--xxs: 2px !default;
$rm: $sp-space--xxs;

.primary-color {
	background-color: $brand-primary;
}

.dark-color {
	background-color: $color-dark;
}

.light-color {
	background-color: $color-light;
}

.accent-color {
	background-color: $color-accent;
}

.text-color-white {
	color: #FFFFFF !important;
}

.text-color-black {
	color: $text-primary !important;
}
.quick-link-empty-state {
	height: 75 * $rm;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.4rem;
	p{
		color: $text-secondary;
		font-size: $font-size-base;
	}
}
.link-container {
	background: $background-primary;
	box-shadow: $sp-panel-box-shadow;
	border-radius: $border-radius-large;
	margin-bottom: $rm * 8;
	min-width: min-content;
	.title {
		min-width: 250px;
		line-height: $rm * 12;
		color: $text-primary;
		word-wrap: break-word;
		padding: $rm * 12;
		border-bottom: 1px solid $color-sp-separator;
	}
	.widget-title {
		margin: 0;
	}
}

.title--with-icon {
    display: flex;
    flex-direction: row;
}

.external-link--icon {
  display: flex;
  padding-left: 6px;
  font-size: 14px;
  align-self: flex-start;
  line-height: 21px;
  padding-top: 2px;
}

.all-card-container,
.all-card-container-left,
.all-card-container-simple {
	display: grid;
	padding: $rm * 12;
	grid-template-columns: 1fr;
	grid-gap: $rm * 12;
}

.card-thumbnail-align-left {
	display: flex;
	flex-direction: row;
	border: 1px solid $border-tertiary;
	box-sizing: border-box;
	border-radius: $border-radius-base;
	padding: $rm * 4 $rm * 8;
	flex: 1;
	justify-items: center;
	word-wrap: break-word;
	word-break: break-word;
	.icon-container {
		margin-right: $rm * 4;
		min-width: 85px;
		width: 85px;
	}
	.icon-container.card-small {
		min-width: 48px;
		width: 48px;
	}
	.content-container {
		padding-right: 0px;
		background-color: transparent;
		min-width: auto;
		align-self: center;
		flex-grow: 0;
		padding-left: $rm * 4;
		align-items: flex-start;
	}
}

.card-thumbnail-align-left.card-medium {
	min-height: 121px;
}

.card-thumbnail-align-left.card-small {
	min-height: 75px;
}

.content-container--content-start {
  justify-content: start !important;
  padding: 0 $rm * 4 $rm * 4 $rm * 4 !important;
  background-color: transparent !important;
}

.card-simple {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $border-secondary;
	flex: 1;
	word-break: break-word;
	word-wrap: break-word;
	overflow: hidden;
	.content-container {
		margin-top: auto;
		margin-bottom: $rm * 8;
		padding: 0;
		flex-grow: 0;
		background-color: $background-primary;
	}
}

.card-simple.card-small,
.card-simple.card-medium {
	min-height: 70px;
	max-height: 90px;
}

.card-simple > div > span {
	color: black;
}

.card-simple:hover > div > span {
	font-style: bold;
}

.card-simple > div > div > .card-title {
  color: $link-color;
}

.card-simple:hover > div > div > .card-title {
  color: $link-hover-color;
}

.card-simple:hover > div > div > .external-link--icon {
  color: $link-hover-color;
}

.content-container.content-left-align {
	align-items: flex-start;
}

.text-left-align {
	text-align: left !important;
}

.card-thumbnail-align-center {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid $border-tertiary;
	box-sizing: border-box;
	border-radius: $border-radius-base;
	background-size: cover;
	background-position: bottom;
	word-break: break-word;
	word-wrap: break-word;
	overflow: hidden;
	.icon-container {
		padding: $rm * 4 $rm * 8 $rm * 4;
		min-height: 92px;
	}
	.icon-container--no-image-color {
		min-height: 0;
		padding: 0;
	}
	.icon-container--background-medium {
		min-height: 92px;
	}
	.icon-container--background-small {
		min-height: 44px;
	}
	.content-container--no-image-color {
		justify-content: center;
		padding: 0 $rm * 4;
		background-color: transparent;
	}
}

.card-thumbnail-align-center.card-medium {
	max-height: 155px;
	min-height: 140px;
}

.card-thumbnail-align-center.card-small {
	max-height: 108px;
	min-height: 76px;
}

.icon-container {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 64px;
	height: 64px;
	background-size: cover;
	z-index: 2;
	position: absolute;
}
.icon--with-overlay {
	height: 48px;
	width: 48px;
}

.icon--small {
	width: 42px;
	height: 42px;
}

.icon--small-with-overlay {
	width: 30px;
	height: 30px;
}

.icon-bg-color {
	box-sizing: border-box;
	z-index: 1;
	width: 76px;
	height: 76px;
	opacity: 0.7;
	border-radius: 50%;
	mix-blend-mode: normal;
	position: absolute;
}

.icon-bg-color--small {
	width: 48px;
	height: 48px;
}

.content-container {
	box-sizing: border-box;
	display: flex;
	bottom: 0;
	flex-grow: 1;
	align-items: center;
	padding: $rm * 4 $rm * 8 $rm * 4;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.7);
	mix-blend-mode: normal;
}

.card-thumbnail-align-center:hover,
.card-thumbnail-align-left:hover {
	box-shadow: $sp-panel-box-shadow;
}

.card-title {
	text-align: center;
	font-style: normal;
	font-weight: $headings-font-weight;
	color: $text-primary;
	font-size: $rm * 8;
	padding: 0;
	margin: 0;
}

.card-description {
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: $text-primary;
	font-size: $rm * 7;
	padding-top: $rm * 2;
	padding: 0;
	margin: 0;
}

.text-ellipsis {
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

a:hover {
	text-decoration: none !important;
}

.all-card-container {
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.all-card-container-left {
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.all-card-container,
	.all-card-container-left {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.card-thumbnail-align-left.card-medium {
		width: 250px;
		min-width: 250px;
		max-width: 250px;
		margin-bottom: 16px;
		margin-right: 16px;
		flex: 1 0 100%;
	}

	.card-thumbnail-align-left.card-small,
	.card-thumbnail-align-center,
	.card-simple {
		width: 200px;
		min-width: 200px;
		max-width: 200px;
		margin-bottom: 16px;
		margin-right: 16px;
		flex: 1 0 100%;
	}

	.text-ellipsis {
		width: 160px;
		white-space: nowrap;
	}

	.text-ellipsis-small-icon {
		width: 90px;
	}
  
	.text-ellipsis-small-no-icon {
		width: 140px;
	}
  
	.text-ellipsis-medium-icon {
		width: 100px;
	}

	.text-ellipsis-medium-no-icon {
		width: 180px;
	}
  
	.icon,
	.icon-bg-color {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}