<div id="main" class="link-container  panel panel-default b panel-wrapper ">
    <div class="panel-heading b-b">
        <h3 class="panel-title">Widget with all</h3>

    </div>
    <div class="panel-main">
        <!-- your widget template -->

        <div class="flex-col">
            <div>
                <h1>Title 01</h1>
                <h2>Title 02</h2>
                <h3>Title 03</h3>
                <p class="card-text">Some <strong>quick example</strong> text to build on the card title and make up the
                    bulk of
                    the card's content.</p>
                <a href="">Click me for more information</a>
                <hr />
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <label for="">Select box</label>
                <select class="form-control" name="" id="">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 2</option>
                </select>
            </div>

            <div>
                <label for="">Input</label>
                <input class="form-control">
            </div>

            <div class="flex-col" style="gap:5px">

                <div class="alert alert-success" role="alert">
                    A simple success alert—check it out!
                </div>
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>
                <div class="alert alert-warning" role="alert">
                    A simple warning alert—check it out!
                </div>
                <div class="alert alert-info" role="alert">
                    A simple info alert—check it out!
                </div>

            </div>

            <div class="flex-row">
                <button type="button" class="btn btn-primary">Primary</button>

                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>


                <button type="button" class="btn btn-link">Link</button>

            </div>

        </div>
    </div>

</div>