    :root{
	
	--classicsponlydonotuse--rem-multipy: 1.6;
    --now-font-family: "Lato", sans-serif;
    --now-color--neutral-12: 40, 44, 51;
    --now-global-border-radius--md: .4rem;
    --now-color_focus-ring: 104, 63, 131;
    --now-tabs--selected--color: 218, 211, 222;
    --mv9-zrk1--1tjtJztp--JvjvZ: 218, 211, 222;
    --mv9-zrk1--1tjtjztp--jvjvz: 218, 211, 222;
    --now-tabs--color--hover: 218, 211, 222;
    --mv9-zrk1--JvjvZ--8vstZ: 218, 211, 222;
    --mv9-zrk1--jvjvz--8vstz: 218, 211, 222;
    --now-tabs--border-color: 218, 211, 222;
    --mv9-zrk1--kvZptZ-JvjvZ: 218, 211, 222;
    --mv9-zrk1--kvzptz-jvjvz: 218, 211, 222;
    --now-tabs--selected--background-color: 218, 211, 222;
    --mv9-zrk1--1tjtJztp--krJUfZvWmp-JvjvZ: 218, 211, 222;
    --mv9-zrk1--1tjtjztp--krjufzvwmp-jvjvz: 218, 211, 222;
    --now-heading--title-primary--color: 40, 44, 51;
    --mv9-8trpAmf--zAzjt-XZATrZO--JvjvZ: 40, 44, 51;
    --mv9-8trpamf--zazjt-xzatrzO--jvjvz: 40, 44, 51;
    --now-checkbox-label--color: 40, 44, 51;
    --mv9-J8tJUkvu-jrktj--JvjvZ: 40, 44, 51;
    --mv9-j8tjukvu-jrktj--jvjvz: 40, 44, 51;
    --now-button--primary--bare--color: 55, 33, 69;
    --mv9-kWzzvm--XZATrZO--krZt--JvjvZ: 55, 33, 69;
    --mv9-kwzzvm--xzatrzO--krzt--jvjvz: 55, 33, 69;
    --now-button--primary--bare--color--active: 55, 33, 69;
    --mv9-kWzzvm--XZATrZO--krZt--JvjvZ--rJzAst: 55, 33, 69;
    --mv9-kwzzvm--xzatrzO--krzt--jvjvz--rjzAst: 55, 33, 69;
    --now-button--primary--bare--color--hover: 109, 66, 138;
    --mv9-kWzzvm--XZATrZO--krZt--JvjvZ--8vstZ: 109, 66, 138;
    --mv9-kwzzvm--xzatrzO--krzt--jvjvz--8vstz: 109, 66, 138;
    --now-pill--selected--background-color: 104, 63, 131;
    --mv9-XAjj--1tjtJztp--krJUfZvWmp-JvjvZ: 104, 63, 131;
    --mv9-xAjj--1tjtjztp--krjufzvwmp-jvjvz: 104, 63, 131;
    --now-pill--selected--border-color: 104, 63, 131;
    --mv9-XAjj--1tjtJztp--kvZptZ-JvjvZ: 104, 63, 131;
    --mv9-xajj--1tjtjztp--kvzptz-jvjvz: 104, 63, 131;
    --now-button--secondary--background-color: 252, 252, 252;
    --mv9-kWzzvm--1tJvmprZO--krJUfZvWmp-JvjvZ: 252, 252, 252;
    --mv9-kwzzvm--1tjvmprzO--krjufzvwmp-jvjvz: 252, 252, 252;
    --now-button--secondary--color: 104, 63, 131;
    --mv9-kWzzvm--1tJvmprZO--JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--1tjvmprzO--jvjvz: 104, 63, 131;
    --now-button--secondary--border-color: 104, 63, 131;
    --mv9-kWzzvm--1tJvmprZO--kvZptZ-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--1tjvmprzO--kvzptz-jvjvz: 104, 63, 131;
    --now-button--secondary--background-color--hover: 227, 227, 227;
    --mv9-kWzzvm--1tJvmprZO--krJUfZvWmp-JvjvZ--8vstZ: 227, 227, 227;
    --mv9-kwzzvm--1tjvmprzO--krjufzvwmp-jvjvz--8vstz: 227, 227, 227;
    --now-button--secondary--color--hover: 104, 63, 131;
    --mv9-kWzzvm--1tJvmprZO--JvjvZ--8vstZ: 104, 63, 131;
    --mv9-kWzzvm--1tjvmprzO--jvjvz--8vstz: 104, 63, 131;
    --now-button--secondary--border-color--hover: 71, 43, 90;
    --mv9-kWzzvm--1tJvmprZO--kvZptZ-JvjvZ--8vstZ: 71, 43, 90;
    --mv9-kwzzvm--1tjvmprzO--kvzptz-jvjvz--8vstz: 71, 43, 90;
    --now-button--secondary--background-color--active: 227, 227, 227;
    --mv9-kWzzvm--1tJvmprZO--krJUfZvWmp-JvjvZ--rJzAst: 227, 227, 227;
    --mv9-kwzzvm--1tjvmprzO--krjufzvwmp-jvjvz--rjzast: 227, 227, 227;
    --now-button--secondary--color--active: 104, 63, 131;
    --mv9-kWzzvm--1tJvmprZO--JvjvZ--rJzAst: 104, 63, 131;
    --mv9-kwzzvm--1tjvmprzO--jvjvz--rjzast: 104, 63, 131;
    --now-button--secondary--border-color--active: 71, 43, 90;
    --mv9-kWzzvm--1tJvmprZO--kvZptZ-JvjvZ--rJzAst: 71, 43, 90;
    --mv9-kwzzvm--1tjvmprzO--kvzptz-jvjvz--rjzast: 71, 43, 90;
    --now-button--tertiary--background-color: 252, 252, 252;
    --mv9-kWzzvm--ztZzArZO--krJUfZvWmp-JvjvZ: 252, 252, 252;
    --mv9-kwzzvm--ztzzarzo--krjufzvwmp-jvjvz: 252, 252, 252;
    --now-button--tertiary--border-color: 104, 63, 131;
    --mv9-kWzzvm--ztZzArZO--kvZptZ-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--ztzzarzo--kvzptz-jvjvz: 104, 63, 131;
    --now-button--tertiary--color: 104, 63, 131;
    --mv9-kWzzvm--ztZzArZO--JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--ztzzarzo--jvjvz: 104, 63, 131;
    --now-button--tertiary--background-color--hover: 252, 252, 252;
    --mv9-kWzzvm--ztZzArZO--krJUfZvWmp-JvjvZ--8vstZ: 252, 252, 252;
    --mv9-kwzzvm--ztzzarzo--krjufzvwmp-jvjvz--8vstz: 252, 252, 252;
    --now-button--tertiary--border-color--hover: 71, 43, 90;
    --mv9-kWzzvm--ztZzArZO--kvZptZ-JvjvZ--8vstZ: 71, 43, 90;
    --mv9-kwzzvm--ztzzarzo--kvzptz-jvjvz--8vstz: 71, 43, 90;
    --now-button--tertiary--color--hover: 104, 63, 131;
    --mv9-kWzzvm--ztZzArZO--JvjvZ--8vstZ: 104, 63, 131;
    --mv9-kwzzvm--ztzzarzo--jvjvz--8vstz: 104, 63, 131;
    --now-button--tertiary--background-color--active: 227, 227, 227;
    --mv9-kWzzvm--ztZzArZO--krJUfZvWmp-JvjvZ--rJzAst: 227, 227, 227;
    --mv9-kwzzvm--ztzzarzo--krjufzvwmp-jvjvz--rjzast: 227, 227, 227;
    --now-button--tertiary--border-color--active: 71, 43, 90;
    --mv9-kWzzvm--ztZzArZO--kvZptZ-JvjvZ--rJzAst: 71, 43, 90;
    --mv9-kwzzvm--ztzzarzo--kvzptz-jvjvz--rjzast: 71, 43, 90;
    --now-button--tertiary--color--active: 104, 63, 131;
    --mv9-kWzzvm--ztZzArZO--JvjvZ--rJzAst: 104, 63, 131;
    --mv9-kwzzvm--ztzzarzo--jvjvz--rjzast: 104, 63, 131;
    --now-highlighted-value--tertiary--color: 40, 44, 51;
    --mv9-8Af8jAf8ztp-srjWt--ztZzArZO--JvjvZ: 40, 44, 51;
    --mv9-8af8jaf8ztp-srjwt--ztzzarzO--jvjvz: 40, 44, 51;
    --now-button--border-radius: .4rem;
    --mv9-kWzzvm--kvZptZ-ZrpAW1: .4rem;
    --mv9-kwzzvm--kvzptz-zrpaw1: .4rem;
    --now-container--border-radius: .4rem;
    --mv9-JvmzrAmtZ--kvZptZ-ZrpAW1: .4rem;
    --mv9-jvmzramtz--kvzptz-zrpaw1: .4rem;
    --now-color_text--primary: 40, 44, 51;
    --mv9-JvjvZ_ztuz--XZATrZO: 40, 44, 51;
    --mv9-jvjvz_ztuz--xzatrzo: 40, 44, 51;
    --now-display-type--secondary--color: 40, 44, 51;
    --mv9-pA1XjrO-zOXt--1tJvmprZO--JvjvZ: 40, 44, 51;
    --mv9-pA1xjrO-zOxt--1tjvmprzO--jvjvz: 40, 44, 51;
    --now-display-type--tertiary--color: 40, 44, 51;
    --mv9-pA1XjrO-zOXt--ztZzArZO--JvjvZ: 40, 44, 51;
    --mv9-pA1xjrO-zOxt--ztzzarzO--jvjvz: 40, 44, 51;
    --now-button--primary-negative--background-color: 104, 63, 131;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--krJUfZvWmp-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--xzatrzO-mtfrzast--krjufzvwmp-jvjvz: 104, 63, 131;
    --now-button--primary-negative--border-color: 104, 63, 131;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--kvZptZ-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--xzatrzO-mtfrzast--kvzptz-jvjvz: 104, 63, 131;
    --now-button--primary-negative--background-color--hover: 77, 46, 97;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--krJUfZvWmp-JvjvZ--8vstZ: 77, 46, 97;
    --mv9-kwzzvm--xzatrzO-mtfrzast--krjufzvwmp-jvjvz--8vstz: 77, 46, 97;
    --now-button--primary-negative--border-color--hover: 71, 43, 90;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--kvZptZ-JvjvZ--8vstZ: 71, 43, 90;
    --mv9-kwzzvm--xzatrzO-mtfrzast--kvzptz-jvjvz--8vstz: 71, 43, 90;
    --now-button--primary-negative--background-color--active: 77, 46, 97;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--krJUfZvWmp-JvjvZ--rJzAst: 77, 46, 97;
    --mv9-kwzzvm--xzatrzO-mtfrzast--krjufzvwmp-jvjvz--rjzast: 77, 46, 97;
    --now-button--primary-negative--border-color--active: 71, 43, 90;
    --mv9-kWzzvm--XZATrZO-mtfrzAst--kvZptZ-JvjvZ--rJzAst: 71, 43, 90;
    --mv9-kwzzvm--xzatrzO-mtfrzast--kvzptz-jvjvz--rjzast: 71, 43, 90;
    --now-button--primary--background-color: 104, 63, 131;
    --mv9-kWzzvm--XZATrZO--krJUfZvWmp-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--xzatrzO--krjufzvwmp-jvjvz: 104, 63, 131;
    --now-button--primary--border-color: 104, 63, 131;
    --mv9-kWzzvm--XZATrZO--kvZptZ-JvjvZ: 104, 63, 131;
    --mv9-kwzzvm--xzatrzO--kvzptz-jvjvz: 104, 63, 131;
    --now-button--primary--color: 252, 252, 252;
    --mv9-kWzzvm--XZATrZO--JvjvZ: 252, 252, 252;
    --mv9-kwzzvm--xzAtrzO--jvjvz: 252, 252, 252;
    --now-button--primary--background-color--hover: 77, 46, 97;
    --mv9-kWzzvm--XZATrZO--krJUfZvWmp-JvjvZ--8vstZ: 77, 46, 97;
    --mv9-kwzzvm--xzatrzO--krjufzvwmp-jvjvz--8vstz: 77, 46, 97;
    --now-button--primary--border-color--hover: 71, 43, 90;
    --mv9-kWzzvm--XZATrZO--kvZptZ-JvjvZ--8vstZ: 71, 43, 90;
    --mv9-kwzzvm--xzatrzO--kvzptz-jvjvz--8vstz: 71, 43, 90;
    --now-button--primary--background-color--active: 77, 46, 97;
    --mv9-kWzzvm--XZATrZO--krJUfZvWmp-JvjvZ--rJzAst: 77, 46, 97;
    --mv9-kwzzvm--xzatrzO--krjufzvwmp-jvjvz--rjzast: 77, 46, 97;
    --now-button--primary--border-color--active: 71, 43, 90;
    --mv9-kWzzvm--XZATrZO--kvZptZ-JvjvZ--rJzAst: 71, 43, 90;
    --mv9-kwzzvm--xzatrzO--kvzptz-jvjvz--rjzast: 71, 43, 90;
    --now-color_background--primary: 255, 255, 255;
    --mv9-JvjvZ_krJUfZvWmp--XZATrZO: 255, 255, 255;
    --mv9-jvjvz_krjufzvwmp--xzatrzo: 255, 255, 255;
    --now-assist-selfservice_choicepicker_input_bg_color: 255, 255, 255;
    --now-assist-selfservice_button_bg_color: 255, 255, 255;
    --now-assist-selfservice_link_color_nonneutral_bg: 255, 255, 255;
    --now-assist-selfservice_sparkle_icon_hover_bg_color: transparent;
    --now-assist-selfservice_modal_body_bg_color: 255, 255, 255;
    --now-assist-selfservice_input_bg_color: 255, 255, 255;
    --now-assist-selfservice_bg_color: transparent;
    --now-assist-selfservice_button_primary_bg_color: 104, 63, 131;
    --now-assist-selfservice_button_bg_action_color: 104, 63, 131;
    --now-assist-selfservice_button_primary_bg_active_color: 104, 63, 131;
    --now-assist-selfservice_bubble_bg_color: 80, 97, 99;
    --now-assist-selfservice_button_selection_text_color: 104, 63, 131;
    --now-assist-selfservice_agent_bubble_bg_color: 104, 63, 131;
    --now-assist-selfservice_bot_bubble_bg_color: 224, 224, 228;
    --now-assist-selfservice_tooltip_bg_color: 0, 0, 0;
    --now-assist-selfservice_category_bg_color: 239, 239, 244;
    --now-assist-selfservice_notification_bg_color: 239, 239, 244;
    --now-assist-selfservice_highlight_color: 255, 218, 114;
    --now-assist-selfservice_button_hover_bg_header_color: 0, 0, 0;
    --now-assist-selfservice_header_bg_color: 48, 47, 75;
    --now-assist-selfservice_modal_header_bg_color: 246, 246, 246;
    --now-assist-selfservice_hover_bg_multichoice_color: 230, 230, 230;
    --now-assist-selfservice_disabled_input_bg_color: 238, 238, 238;
    --now-assist-selfservice_chat_icon_bg_color: 152, 152, 228;
    --now-assist-selfservice_button_hover_bg_modal_color: 0, 0, 0;
    --now-assist-selfservice_button_primary_bg_hover_color: 77, 46, 97;
    --now-assist-selfservice_secondary_text_color: 44, 53, 55;
    --now-assist-selfservice_agent_bubble_font_color: 22, 27, 28;
    --now-assist-selfservice_bubble_font_color: 22, 27, 28;
    --now-assist-selfservice_primary_button_action_text_color: 255, 255, 255;
    --now-assist-selfservice_header_font_color: 255, 255, 255;
    --now-assist-selfservice_tooltip_text_color: 255, 255, 255;
    --now-assist-selfservice_input_field_text_color: 22, 27, 28;
    --now-assist-selfservice_highlight_text_color: 22, 27, 28;
    --now-assist-selfservice_input_placeholder_text_color: 22, 27, 28;
    --now-assist-selfservice_system_message_color: 66, 80, 81;
    --now-assist-selfservice_non_clickable_title_color: 22, 27, 28;
    --now-assist-selfservice_category_font_color: 109, 109, 114;
    --now-assist-selfservice_notification_txt_color: 15, 120, 196;
    --now-assist-selfservice_timestamp_color: 66, 80, 81;
    --now-assist-selfservice_separator_color: 209, 214, 214;
    --now-assist-selfservice_link_color: 104, 63, 131;
    --now-assist-selfservice_disabled_link_color: 102, 102, 102;
    --now-assist-selfservice_close_icon_color: 103, 103, 103;
    --now-assist-selfservice_input_field_icon_color: 104, 63, 131;
    --now-assist-selfservice_choicepicker_input_icon_color: 209, 214, 214;
    --now-assist-selfservice_menu_icon_color: 255, 255, 255;
    --now-assist-selfservice_search_icon_color: 64, 103, 112;
    --now-assist-selfservice_emoji_attachment_icon_color: 66, 80, 81;
    --now-assist-selfservice_load_animation_color: 48, 47, 75;
    --now-assist-selfservice_shadow_color: 56, 56, 56;
    --now-assist-selfservice_error_color: 215, 91, 124;
    --now-assist-selfservice_overlay_area_color: transparent;
    --now-assist-selfservice_sparkle_icon_size: 2.4rem;
    --now-assist-selfservice_sparkle_icon_top_bottom_padding: 1.8rem;
    --now-assist-selfservice_sparkle_icon_min_height: 6rem;
    --now-color_alert--moderate-3: 67, 69, 166;
    --now-color--primary-0: 221, 237, 233;
    --now-color--primary-2: 23, 100, 82;
    --now-color--alert-info-2: 14, 120, 196;
    --now-color_text--tertiary: 69, 77, 91;
    --now-color--neutral-10: 80, 97, 99;
    --now-color_background--secondary-actionable: 44, 53, 55;
    --now-color--background-primary: $now-sp-body-bg;
    --now-color_text--primary-actionable: 255, 255, 255;}